<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="VKSOrganization" value="Sun Hydraulics"/>
    <add key="VKSUser" value="api.connector"/>
    <add key="VKSToken" value="bXRzNzh0UHlBSVZ1RkVoU29CQkdvdUxaYmsyaTlRQWE2MlgxSkFvaG9za0xxendSMTBWeHR0ekRrNVlvcElONGdBZCtJdnFiQlVLTmx4UzhtdGNuWXpBcmsyL2RSOXRMR1E1K1BmTGhkQVA2ZGwyZW56MDJmMzVJK3lGLzUvZjk="/>
    <add key="VKSBaseUri" value="https://vwi.sunhydraulics.com/dqs"/>
  </appSettings>
</configuration>
